<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About_us</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: Aldrich;
        }
        body{
            background-color: black;
        }
        h1,h3{
            color: white;
        }
        strong{
            color: blue;
            font-size: 60px;
        }
    </style>
</head>
<body>
    <h1>
       <strong>Hi</strong>  , I was just Tired of the classical Bootstrap without any customization. So, I have created this Application to let the user extract certain classes from Bootstrap-5.
    </h1>
    <h3>
        Use the Application to Enhance your Designs.
    </h3>
</body>
</html>